<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.wenson.smith</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>8EFA35DA-EF71-4774-B6FB-B4AE76C2AC31</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>782BFC39-EF84-45CD-8745-943098B40048</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D3B88BAE-7424-44E7-8A28-0773819BF162</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8EFA35DA-EF71-4774-B6FB-B4AE76C2AC31</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>WensonSmith</string>
	<key>description</key>
	<string>Input keyword : qr , then input the data to deal with</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>QRcode Creator</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>qr</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>生成二维码</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D3B88BAE-7424-44E7-8A28-0773819BF162</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>require_once('alfredQRcode.php');

$query = "{query}";

AlfredQrcode::create($query);</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8EFA35DA-EF71-4774-B6FB-B4AE76C2AC31</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string>QRcode.png</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinalfred</string>
			<key>uid</key>
			<string>782BFC39-EF84-45CD-8745-943098B40048</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>782BFC39-EF84-45CD-8745-943098B40048</key>
		<dict>
			<key>xpos</key>
			<integer>720</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>8EFA35DA-EF71-4774-B6FB-B4AE76C2AC31</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>D3B88BAE-7424-44E7-8A28-0773819BF162</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>path</key>
		<string>~/Documents/Alfred/todos/</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://seekbetter.me</string>
</dict>
</plist>
